@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sgh {
    background: rgb(235, 229, 19);
    background: radial-gradient(
      circle,
      rgba(235, 229, 19, 1) 0%,
      rgba(200, 199, 25, 1) 6%,
      rgba(91, 223, 24, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navlinks {
    @apply text-base font-semibold relative flex gap-1 hover:text-green-600  font-sans;
  }
  .login-btn {
    @apply bg-[#4246C9] px-4 py-1 rounded text-white  flex items-center gap-1;
  }
  .sub-navlinks {
    @apply flex flex-col gap-5 text-left px-4 absolute bg-white top-12 w-52;
  }
  .md-navbar {
    @apply w-full h-16 p-5  justify-between items-center pt-4 bg-black hidden md:flex text-white fixed z-10;
  }
  .init-navbar {
    @apply flex justify-between md:hidden items-center p-5  w-full bg-black text-white fixed z-10;
  }
}
